<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>чайок</title>

</head>
<body>
    <div class="header">
        <h1>Hello</h1>
    </div>
    <header>
        <h1>Лого сайту</h1>
        <p>Контактний номер: 0951202319</p>
    </header>

    <nav>
        <a href="#">Головна</a>
        <a href="#">Чай</a>
        <a href="#">Кава</a>
        <a href="#">Контакти</a>
    </nav>

    <div class="search-bar">
        <!-- Тут може бути ваша форма пошуку -->
        <input type="text" placeholder="Пошук товарів">
        <button type="submit">Пошук</button>
    </div>

    <div class="registration-button">
        <a href="#">Увійти</a> або <a href="#">Зареєструватися</a>
    </div>

</body>
</html>