body {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #f5e1bc, #dbcbb1);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #fff;
}

.header_middle {
    background-color: #e0d2ab; /* Цвет фона для класса header_middle */
    padding: 10px; /* Пример значения отступа */
    text-align: center;
    /* Дополнительные стили для класса header_middle */
}

.banner {
    background-color: #e0d2ab;
    padding: 10px;
    text-align: center;
    max-height: 768px;
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    height: 576px

}